.card {
    min-height: 50px;
    padding: 4px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-bottom: 6px;
    background: white;
    position: relative;
}

.card .delete-button {
    position: absolute;
    right: 0;
    color: red;
    cursor: pointer;
    display: none;
    outline: none;
}
.card:hover .delete-button {
    display: inline-block;
}

.card.dragging {
    height: 50px;
    padding: 4px;
    background: #bec0c1;
}
